@mixin merge-style(
  // 菜单选中后字体样式
  $subMenuActiveText,
  //菜单背景
  $menuBg,
  // 鼠标覆盖菜单时的背景
  $menuHover,
  // 子菜单背景
  $subMenuBg,
  // 鼠标覆盖子菜单时的背景
  $subMenuHover
) {
  // 菜单默认字体样式
  $menuText: #7a80b4;
  // 菜单默认选中后字体样式
  $menuActiveText: #7a80b4;
  // 侧边栏默认宽度
  $sideBarWidth: 210px;

  .main-container {
    transition: margin-left 0.3s;
    min-height: 100%;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.3s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 0px;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 0 1px #888888;
    background-color: $menuBg;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    .el-menu {
      border: none;
      height: 100%;
      background-color: transparent;
    }

    .el-menu-item,
    .el-submenu__title {
      color: $menuText;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
      background: $menuBg;
    }

    .is-active > .el-submenu__title,
    .is-active.submenu-title-noDropdown {
      color: $subMenuActiveText !important;
      i {
        color: $subMenuActiveText !important;
      }
    }

    .is-active {
      transition: color 0.3s;
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      font-size: 12px;
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .main-container {
      margin-left: 54px;
    }

    .sidebar-container {
      width: 54px !important;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
      }
    }

    .el-menu--collapse {
      width: 54px;
    }

    .el-menu-item [class^=el-icon-] {
      width: 0;
    }

    .el-submenu {
      overflow: hidden;

      & [class^=el-icon-] {
        width: 0;
      }

      & > .el-submenu__title {
        span {
          display: none;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
  }

  // 菜单折叠
  .el-menu--vertical {
    .el-menu--popup {
      background-color: $subMenuBg !important;

      .el-menu-item {
        color: $menuText;
        background-color: $subMenuBg;
        &:hover {
          background-color: $subMenuHover;
        }
      }
    }
    & > .el-menu {

      i {
        margin-right: 16px;
      }
    }

    .is-active > .el-submenu__title,
    .is-active.submenu-title-noDropdown {
      color: $subMenuActiveText !important;
      i {
        color: $subMenuActiveText !important;
      }
    }

    .is-active {
      transition: color 0.3s;
      color: $subMenuActiveText !important;
    }

    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHover !important;
      }
    }
  }

  .el-scrollbar__wrap {
    overflow: auto;
    height: 100%;
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }
}